* {
    box-sizing: border-box;
}
.todo-item{
    display: flex;
    width: 80%;
    height: 40px;
    margin: 5px auto;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
}

.todo-item > p {
    width: 60%;
    text-align: left;
}
.status{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgray;
    
}
.status::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 2;
  background-color: rgb(204, 204, 207);
    
}
.bg-dodger-blue{
    background-color: dodgerblue;
}
