#todo-input{
    padding: 10px;
    font-size: 16px;
    height: 42px;
    width: 64%;
    border: none;
    margin-left: 5px;
  
    outline: none;
    transition: 0.5s;
    border-radius: 5px;
    box-sizing: border-box;
}

#todo-input:focus{
    background-color: rgba(98, 154, 207, 0.562);
}

#add-todo-btn{
    padding: 8px 18px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    height: 42px;
    width: 15%;
    box-sizing: border-box;
    font-size: 18px;
}

#add-todo-btn:hover{
    background-color: dodgerblue;
    color:white;
}